/* *{ */
/*  */
/* } */

.mr-5{
    border: 20px;
    /* border: 20px; */
    /* height: fit-content; */
    padding: 10px;
    
}


.mr-5:hover{
    background-color: aliceblue;
    color: orangered;
    border-radius: 25px;
    width: fit-content;
    
}
html{
    scroll-behavior: smooth;
}
